.containerProdutoDash {
    border: solid 1px rgba(0, 0, 0, 0.22);
    padding: .5rem .5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 8vh;
    width: 22.3vw;
    overflow-y: hidden;
}

.containerProdutoDash:hover {
    cursor: pointer;
    background-color: #0053a626;
}


.itemProdutos {
    width: 22rem;
    font-size: 14px;
    color: rgb(87, 87, 87);
}