.containerMenu {
    display: flex;
    align-items: center;
    background-color: #0053a6c2;
    height: 5vh;
    width: 100vw;
}
.textoMenu {
    font-weight: bold;
    color: aliceblue;
    padding: 0 5rem 0 5rem;
    cursor: pointer;
}