.containerMenu {
    display: flex;
    align-items: center;
    background-color: rgba(0, 84, 166, 0.7);
    height: 5vh;
}
.textoMenu {
    font-weight: bold;
    color: aliceblue;
    padding: 0 3rem 0 3rem;
}