.containerInputDate {
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    width: 8vw;

}

.inputCampo {
    width: 8vw;
    height: 5vh;
    border: none;
}
.inputs {
    display: flex;
    column-gap: 2rem;
}
