.tituloDaPesquisa {
    height: 15vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px;
    margin-bottom: 2.7rem;
}

.inputDaPesquisa {
    padding: .5rem 0;
    width: 30vw;
    border: none;
}