*{
    overflow-x: hidden;
}

.containerMain {
    background-color: #ffffff;
    width: 90vw;
    height: 62rem;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 3rem 2rem  0 2rem;
    display: flex;
    justify-content: space-around;
}
.containerCadeadoPri {
    display: flex;
    flex-direction: column;
}

.containerMainPart {
    display: flex;
    column-gap: 3rem;
}
.containerCadeado {
    display: flex;
    flex-direction: column;
}

hr {
    height: 15vh;
}

.containerProduto {
    margin-top: 2rem;
}
.containerSelecProdutos{
    height: auto;
    padding-top: 1rem;
}

.listaProdutos {
    height: 29.9rem;
    width: 40vw;
}
.listaProdutos::-webkit-scrollbar{
    width: 2px;
    height: 8px;
    background-color: rgba(212, 212, 212, 0.951);
}
.listaProdutos::-webkit-scrollbar-thumb {
    background: var(--cor-header-color);
    height: 10px;
}

.lojasPesquisa{
    overflow-y: hidden;
    width: 30vw;
    height: 20vh;
}

.containerLojas {
    display: flex;
    flex-direction: column;
}

.input-selecionar-todos{
    margin-left: 10px;
}

/* descrição input  */

.descricaoInputDate {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 14px;
    color: #808080;
}

.periodo {
    margin-top: .5rem;
    font-size: 12px;
    text-align: center;
    color: #808080
}

.containerCheckRemoveList {
    display: flex;
    justify-content: space-between;
}

.containerRemove {
    display: flex;
    column-gap: .5rem;
    color: rgba(255, 0, 8, 0.733);
    cursor: pointer;
}

.div-btn {
    display: flex;
    justify-content: flex-end;
}
.textoRemove{
    padding: .2rem 1rem;
    color:  rgba(255, 0, 8, 0.733);
    background-color:  rgba(255, 255, 255, 0.733);
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.textoRemove:hover{
    color:  rgb(255, 0, 8);
}

