*{
    overflow-x: hidden;
}
.selectLojasContainer{
    display:  flex;
    justify-content: space-between;

}

.description{

    margin: 10px 0px;
}

.title-lojas{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.title-lojas:hover{
    color: rgba(0, 0, 0, 0.747);
    border-bottom: 1px solid black;
}

.selected{
    border-bottom: 1px solid black;
}
.containerMain {
    background-color: #ffffff;
    width: 90vw;
    height: 67rem;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 3rem 2rem  0 2rem;
    display: flex;
    justify-content: space-around;
}
.containerCadeadoPri {
    display: flex;
    flex-direction: column;
}

.containerMainPart {
    display: flex;
    column-gap: 3rem;
}
.containerCadeado {
    display: flex;
    flex-direction: column;
}

hr {
    height: 15vh;
}

.containerProduto {
    margin-top: 2rem;
}
.containerSelecProdutos{
    height: auto;
    padding-top: 1rem;
}

.listaProdutos {
    height: 34.6rem;
    width: 40vw;
}
.listaProdutos::-webkit-scrollbar{
    width: 2px;
    height: 8px;
    background-color: rgba(212, 212, 212, 0.951);
}
.listaProdutos::-webkit-scrollbar-thumb {
    background: var(--cor-header-color);
    height: 10px;
}

.lojasPesquisa{
    overflow-y: hidden;
    width: 30vw;
    height: auto;
}

.containerLojas {
    display: flex;
    flex-direction: column;
}

.input-selecionar-todos{
    margin-left: 10px;
}

/* descrição input  */

.descricaoInputDate {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 14px;
    color: #808080;
}

.periodo {
    margin-top: .5rem;
    font-size: 12px;
    text-align: center;
    color: #808080
}

.containerCheckRemoveList {
    display: flex;
    justify-content: space-between;
}

.containerRemove {
    display: flex;
    column-gap: .5rem;
    color: rgba(255, 0, 8, 0.733);
    cursor: pointer;
}

.div-btn {
    display: flex;
    justify-content: flex-end;
}
.textoRemove{
    padding: .2rem 1rem;
    color:  rgba(255, 0, 8, 0.733);
    background-color:  rgba(255, 255, 255, 0.733);
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.textoRemove:hover{
    color:  rgb(255, 0, 8);
}

