*{
    overflow-x: hidden;
}

.containerMain {
    background-color: #ffffff;
    width: 90vw;
    height: 100vh;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 1rem 2rem ;
    display: flex;
    column-gap: 10rem;
}

.containerMainPart {
    display: flex;
    column-gap: 6rem;
}
.containerCadeado {
    display: flex;
    flex-direction: column;
}

hr {
    height: 15vh;
}

.containerProduto {
    margin-top: 2rem;
}
.containerSelecProdutos{
    height: auto;
    padding-top: 1rem;
}

.listaProdutos {
    height: 45vh;
    width: 40vw;
}
.listaProdutos::-webkit-scrollbar{
    width: 2px;
    height: 8px;
    background-color: rgba(212, 212, 212, 0.951);
}
.listaProdutos::-webkit-scrollbar-thumb {
    background: var(--cor-header-color);
    height: 10px;
}



.lojasPesquisa{
    overflow-y: hidden;
    width: 24vw;
}

.containerLojas {
    display: flex;
    flex-direction: column;
    height: 85vh;
    row-gap: 1rem;
}


.input-selecionar-todos{
    margin-left: 10px;
}

.resultLojas{
    height: 60vh;
}




