.TitleResumo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resContainerCadeado {
    display: flex;
    align-items: center;
    column-gap: 5rem;
} 
.resultCategoria {
    padding-left: 1rem;
}

.Cat{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Cath3{
    font-weight: 500;
    font-size: 22px;
}

.resultPeriodo {
    border-bottom: solid 1px;
}
.resultPeriodoInput {
    border: none;
    
}
.separadorDate {
    padding: .5rem;
}
.ResumPerDate{
    display: flex;
    align-items: center;
}

.ResumRedPerDate{
    margin: 1rem;
}

.ResumRedPerDate, h3{
font-size: 22px;
padding-right: 1rem;
font-weight: 500;
}