fieldset{
    border:  none;
}

.TitleResumo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.H3Resume{
    border-left: solid 1px #1a00ac;
    padding: 1rem;
}

.Cat{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Cath3{
    margin: 0;
    padding: 1rem;

}

.RedCatInp{
    width: 0.8rem;
    height: 0.6rem;
    margin: 1rem;
    padding: 0.1rem;
}

.ResumPerDate{
    display: flex;
    margin: 1rem;
    align-items: center;
}

.ResumRedPerDate{
    margin: 1rem;
}

.RedPerInp{
    width: 0.8rem;
    height: 0.6rem;
    margin: 1rem;
    padding: 0.5rem;
}