.containerCardLojas {
    border: solid 1px rgba(0, 0, 0, 0.22);
    padding: .5rem .5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12vw;
    
}

.containerCardLojas:hover {
    background-color: rgba(0, 159, 227, 0.4);
}

.iconRemove {
    cursor: pointer;
    color: rgba(237, 28, 35, 0.75);
}

