.containerMainDashboard {
    background-color: #00366d10;
    width: 100vw;
    height: 55rem;
    border-radius: 10px;
    padding: 3rem 2rem  0 2rem;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    
}
=======
}

.containerLeft {
    overflow-y: hidden;
}
>>>>>>> 601567cc06c59b60d09e5d667897e7942bd75f6b
