.ResumMain{
    background-color: #FFFF;
    width: 90vw;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 3rem 2rem;
}

/* Card de lojas */
.resuCardLojas {
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    row-gap: 1rem;  
}


/* Card de produtos */
.resuCardProdutos {
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.divButton {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}