fieldset{
  border: none;
}

.TitleResumLojas {  
    border-bottom: solid 0.5px var(--cor-segundo-header-color);
    margin-left: 1rem;
  }

.ResumRedLojas{
  width: 95vw;
  height: 20vh;
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.RedInpLoja{
  width: 1rem;
  margin-left: 1rem;
}