.containerAnalise {
    margin-top: 1rem;
    height: 80vh;
    width: 72vw;
    background-color: #FFF;
    border-radius: 5px;
}

.containerAnalise div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    column-gap: 5rem;
}

.areaResposta {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}

.areaGrafico {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500; 
}

.containerAnalise hr {
    height: 1px;
    width: 50vw;
    text-align: center;
    margin: .5rem auto;
    
}