.containerListaPro {
    background-color: rgb(255, 255, 255);
    width: 72vw ;
    height: 40vh;
    padding: 2.4rem 2rem ;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    column-gap: .5rem;
    flex-wrap: wrap;
}

.containerListaPro::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: rgba(212, 212, 212, 0.951);
}

.containerListaPro::-webkit-scrollbar-thumb {
    background-color: #0054A6;
}