.container--pesqEnviadas {
    background-color: #fff;
    width: 21vw;
    height: 81.5vh;
    border-radius: 5px;
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 20px;

}

.container--pesqEnviadas::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: rgba(212, 212, 212, 0.951);
}

.container--pesqEnviadas::-webkit-scrollbar-thumb {
    background-color: #0054A6;
}

.container--title {
    margin-top: 1rem;
    width: 21vw;
    background-color: white;
    border-radius: 5px;
    padding: 1.5rem 2rem 0 2rem;

}

