@import '../../../App.css';

.titleProdutos {
    font-weight: 500;
    font-size: 22px;
}

.ResuProdutos{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 1rem;
}

.ResumRedProd{
    width: 95vw; 
    display: flex; 
}


