@import '../../../App.css'

fieldset{
    border: none;
}

.ResuProdutos{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.ResumRedProd{
    width: 95vw;
    height: 40vh;
    border: solid 1px #6f00ff;
    display: flex; 
}

.RedProd{
    width: 25vw;
    height: 10vh;
    margin: 1rem;
    display: flex;
    border: inset #8a2be2 1px; 
    align-items: center;
    justify-items: center;
}

.InpRedProd{
    width: 1rem;
    margin-left: 1rem;

}
