*{

  margin: 0;
  padding: 0;
  
  /* Font */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* var color project */
  --cor-header-color: #0054A6;
  --cor-segundo-header-color: rgba(0, 84, 166, 0.7);
  --cor-tagSelecionada-color: #009fe381 (opacity 40%);
  --cor-tagExcluir-color: #ED1C24;
  --cor-tagHouver-color: #6400a69d;

}

body {

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*::-webkit-scrollbar-thumb{
  background-color: #0054A6;
}
*::-webkit-scrollbar{
  width: 2px;
  height: 2px;
  background-color: rgba(212, 212, 212, 0.951);
}


code {

  font-family: 'Roboto', 'sans-serif', 'Courier New',
    monospace;

}

