*{

  margin: 0;
  padding: 0;
  
  /* var color project */
  --cor-header-color: #0054A6;
  --cor-segundo-header-color: #0054A6;
  --cor-tagSelecionada-color: #009fe381 (opacity 40%);
  --cor-tagExcluir-color: #ED1C24;
  --cor-tagHouver-color: #6400a69d;

}

body {

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {

  font-family: 'Roboto', 'sans-serif', 'Courier New',
    monospace;

}

